/* Paleta de colores */
:root {
	--blanco: #fff;
	--oscuro: #212121;
	--navbar: #f3cf9e;
	--head: #a8763e;
	--main: #fbeedd;
	--footer: #222222;
	--gris: #757575;
	--grisClaro: #dfe9f3;
	--border: 1px solid rgba(0, 0, 0, 0.175);
	--fuente: "Open Sans", sans-serif;
}

/* Box Sizing */
html {
	box-sizing: border-box;
	scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: var(--fuente);
}

.bg-head {
	background-color: var(--head);
}

.bg-navbar {
	background-color: var(--navbar);
}

.bg-main {
	background-color: var(--main);
}

.bg-footer {
	background-color: var(--footer);
}

.mh {
	min-height: calc(100vh - 150px);
}

.input-group-text {
	cursor: default;
}
